/* ################### variables ################### */
:root {
  --accent-primary: #808cfd;
  --accent-secondary: #e9ecff;
  --color-light: #fff;
  --color-dark: #000;
}

/* ################### reset ################### */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  color: #000;
  font-family: "Geist", sans-serif;
}

/* ################### Base ################### */

/* font-family: "Instrument Sans", sans-serif; */

/* Heading 1 */
.h1 {
  font-family: "Anek Tamil";
  font-style: normal;
  font-weight: 800;
  font-size: 71px;
  line-height: 110%;
  /* or 78px */
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
}

/* Heading 2 */
.h2 {
  font-family: "Anek Tamil";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 91%;
  /* identical to box height, or 33px */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

/* Heading 3 */

.h3 {
  font-family: "Anek Tamil", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 100%;
  /* identical to box height, or 57px */
  letter-spacing: -0.05em;
  text-transform: uppercase;

  color: #000000;
}

/* Heading 4 */
.h4 {
  font-family: "Anek Tamil", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 91%;
  /* identical to box height, or 23px */
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #000000;
}

/* Heading 5 */
.h5 {
  font-family: "Anek Tamil", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 131%;
  /* identical to box height, or 29px */
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #000000;
}

/* Paragraph 1 */

.paragraph1 {
  /* Paragraph/Paragraph 1 */
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 131%;
  /* or 22px */
  letter-spacing: -0.03em;

  color: #000000;
}

/* Paragraph 2 */
.paragraph2 {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131%;
  /* identical to box height, or 20px */
  letter-spacing: 0.01em;

  color: #000000;
}
/* (footer) Paragraph/Paragraph 3 */
.paragraph3 {
  font-family: "Geist";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 131%;
  /* or 18px */
  letter-spacing: 0.01em;
}

.uppercase {
  text-transform: uppercase;
}

.text-heading1 {
  /* Headline/Headline 2 */
  font-family: "Anek Tamil";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 91%;
  /* identical to box height, or 41px */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.text-heading2 {
  font-family: "Anek Tamil";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 91%;
  /* identical to box height, or 23px */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

/* Nav Link */
.nav-link {
  font-family: "Geist Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #000000;
}

/* Button */
.button {
  display: inline-block;
  text-align: center;
  padding: 12px 17px;
  border-radius: 7.24613px;

  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.button-primary {
  background: var(--accent-primary);
  color: var(--color-dark);
}

.button-secondary {
  background: var(--accent-secondary);
  color: var(--color-dark);
}

.button-primary:hover,
.button-primary:focus,
.button-primary:active,
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  background: var(--color-dark);
  color: var(--color-light);
}

/* ################### Header ############## */
.header {
  position: relative;
  padding: 20px;
  background-color: var(--accent-secondary);
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  gap: 60px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4.5px;
}
.logo__text {
  font-size: 20px;
}
.logo-text-common {
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 700;

  line-height: 110%;
  /* identical to box height, or 22px */
  letter-spacing: -0.05em;

  color: #000000;
}

.menu-button {
}

/* ################### Main ############## */
.main {
  border-bottom: 1px solid #000000;
}
.title-section {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.main-title-section {
  padding: 20px;
}
.secondary-title-section {
  padding: 10px 20px 0 20px;
}

.media-content-section {
  display: flex;
}

.container {
  /* нельзя задавать ему ширину - картинки не будут прилегать к краю экрана*/
}

.heading-accent {
  color: var(--accent-primary);
}
.accent-primary-background {
  background-color: var(--accent-primary);
}
.accent-secondary-background {
  background-color: var(--accent-secondary);
}

.content-wrapper {
  padding: 20px 20px 66px 20px;
}

.right-border {
  border-right: 1px solid #000;
}

.media {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mb-20 {
  margin-bottom: 30px;
}

.advantages__advantage {
  padding: 20px;
}
.advantages__content-container {
  padding: 35px 20px;
}
.link-wrapper {
  padding: 35px 20px;
}

.advantages__advantage {
  border-top: 1px solid black;
}
.advantages__advantage:last-child {
  border-bottom: 1px solid black;
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  padding: 162px 70px;

  text-align: center;
}

/* ################### Footer ############## */
.footer {
  display: flex;
  flex-direction: column;
  gap: 169px;

  padding: 27px 20px 32px 20px;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 28px;
}
.footer-logo__text {
  font-size: 52px;
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-info__column .h5 {
  margin-bottom: 15px;
}
.working-hours {
 min-width: 270px;

}
.working-hours__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__links {
  text-decoration: underline;
}

/* ################### Media ############## */
/* ######## Mobile ###### */
@media screen and (max-width: 799px) {
  .h1 {
    font-size: 37px;
  }
  .h3 {
    font-size: 44px;
  }
  .text-heading1 {
    font-size: 28px;
  }
  .text-heading2 {
    font-size: 22px;
  }
  .right-border {
    border-right: none;
    border-bottom: 1px solid black;
  }
  .content-wrapper {
    padding: 20px 20px 27px 20px;
  }
  .secondary-title-section {
    padding: 20px;
  }

  .media-content-section {
    flex-direction: column;
  }
  /* image always goes on top of all in the mobile section */
  .media-wrapper {
    order: -1;
  }
  .cta-section {
    padding: 120px 20px;
  }

  .footer {
    gap: 80px;
    padding: 27px 20px 50px 20px;
  }
  .footer-logo__image {
    width: 150px;
    height: 89px;
  }
  .footer-info {
    flex-direction: column;
  }

  /* ## Menu ## */
  .nav__links {
    flex-direction: column;
    background-color: var(--color-light);
    gap: 0;
    align-items: stretch;
  }

  .nav__button {
    display: block;
    width: 100%;
    padding: 20px;

    border-top: 1px solid black;

    font-family: "Geist Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    /* identical to box height, or 33px */
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .button.nav__button {
    border-radius: 0;
    border-bottom: 1px solid black;
  }
  .button-primary.nav__button {
    color: var(--color-light);
  }
  .nav {
    display: none;
  }
  .nav .is-open {
    display: flex;
  }
  .menu-button__open-icon {
    display: block;
  }
  .menu-button__close-icon {
    display: none;
  }
  .is-open .menu-button__open-icon {
    display: none;
  }
  .is-open .menu-button__close-icon {
    display: block;
  }
  .nav.is-open {
    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    width: 100%;
  }
  header:has(.is-open) {
    background-color: var(--color-light);
  }
}

/* ######## Mobile + Tablet ###### */
@media screen and (max-width: 1279px) {
  .paragraph1 {
    font-size: 15px;
  }
  .link-wrapper {
    padding: 30px 20px;
  }
}

/* ######## Tablet ###### */
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .h1 {
    font-size: 71px;
  }
  .text-heading1 {
    font-size: 36px;
  }

  .content-wrapper {
    padding: 20px 20px 30px 20px;
  }
  .cta-section {
    padding: 134px 70px;
  }
}

/* ######## Tablet + Desktop ###### */
@media screen and (min-width: 800px) {
  .media-content-section {
    flex-direction: row;
  }

  .two-thirds {
    flex-grow: 0;
    flex-shrink: 0;
    width: 66.6666%;
  }
  .one-third {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33.3333%;
  }

  .flex-centered {
  }

  .flex-col-spaced {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-button {
    display: none;
  }
}

/* ######## Desktop ###### */
@media screen and (min-width: 1280px) {
}
